---
layout: 'default.hbs'
---


<div class="scrolling">
<div class="scrolling__layout">
	<div class="scrolling__body">
		<ul class="table">
			<li class="table__item--space"><span class="label">Sirius</span></li>
			<li class="table__item--space"><span class="label">Canopus</span></li>
			<li class="table__item--space"><span class="label">Arcturus</span></li>
			<li class="table__item--space"><span class="label">Vega</span></li>
			<li class="table__item--space"><span class="label">Capella</span></li>
			<li class="table__item--space"><span class="label">Rigel</span></li>
			<li class="table__item--space"><span class="label">Becrux</span></li>
			<li class="table__item--space"><span class="label">Miaplacidus</span></li>
			<li class="table__item--space"><span class="label">Alnilam</span></li>
			<li class="table__item--space"><span class="label">Benetnasch</span></li>
			<li class="table__item--space"><span class="label">Menkalinan</span></li>
			<li class="table__item--space"><span class="label">Murzim</span></li>
			<li class="table__item--space"><span class="label">Nunki</span></li>
			<li class="table__item--space"><span class="label">Algol</span></li>
		</ul>
	</div>
</div>
</div>